In [1]:
import pandas as pd

In [6]:
d1={
    'a':[1,2,3,4,5]
}
d2={
    'a':[6,7,8,9]
}
a=pd.DataFrame(d1)
b=pd.DataFrame(d2)
print(a)
print(b)

   a
0  1
1  2
2  3
3  4
4  5
   a
0  6
1  7
2  8
3  9

In [7]:
print(a+b)

      a
0   7.0
1   9.0
2  11.0
3  13.0
4   NaN

In [10]:
var=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [11]:
var['C']=var['A']+var['B']
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [14]:
var['D']=var['C']/var['A']
print(var)

   A  B   C         D
0  1  5   6  6.000000
1  2  6   8  4.000000
2  3  7  10  3.333333
3  4  8  12  3.000000

In [15]:
#logical operation in dataframe
var1=pd.DataFrame({'A':[10,20,30,40],'B':[15,16,17,18]})
print(var1)

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [17]:
var1['python']=var1['A']<=20
var1

    A   B  python
0  10  15    True
1  20  16    True
2  30  17   False
3  40  18   False

In [19]:
var1['divide_by_2']=var1['B']%2==0
var1

    A   B  python  divide_by_2
0  10  15    True        False
1  20  16    True         True
2  30  17   False        False
3  40  18   False         True

In [20]:
print(var1['B'])

0    15
1    16
2    17
3    18
Name: B, dtype: int64